.travel-header-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.travel-header-child-container {
    width: 85%;
    display: flex;
    justify-content: space-between;
}

.travel-header-button {
    width: 80px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    color: rgb(123, 97, 255);
}

.travel-body-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 0 100px;
    padding-bottom: 200px;
    cursor: pointer;
}